.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    min-width: 800px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* flex-shrink: 0; Запрещаем сжиматься */
    /* Ваши стили: фон, отступы, высота */
    background: #2c3e50;
    color: white;
    padding: 16px 20px;
    position: sticky;
    top: 10px;
    z-index: 10000;
}