.main_header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

.main_header nav a {
    text-decoration: none;
    font-weight: 600;
}

.main_header nav a:hover {
    color: white;
}