/* Глобальные стили */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #030626;
    background: linear-gradient(352deg,rgba(3, 6, 38, 1) 0%, rgba(7, 36, 77, 1) 50%, rgba(83, 139, 237, 1) 100%);
    overflow: hidden;
    overflow-y: auto;
}

#appa {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-content: center;
    min-height: 50px;
    background-color: rgb(3, 26, 47);
    position: sticky;
    top: 10px;
    border-radius: 5px;
    padding: 0 10px 0 5px;
 }

.main_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    min-height: 100px;
    background-color: black;
    color: rgb(82, 166, 255);
    /* position: sticky; */
    /* bottom: 10px; */
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
 }

 @media (max-width: 600px) {
  .main-footer { display: block; min-height: 300px; position: inherit;  text-align: center;}
}