/* Глобальные стили */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#appa {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.main-header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #2c3e50;
  color: white;
  padding: 16px 20px;
}

.content {
  flex: 1 0 auto;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-footer {
  flex-shrink: 0;
  background: #2c3e50;
  color: white;
  padding: 16px 20px;
  text-align: center;
  position: sticky;
  bottom: 10px;
  z-index: 1000;  
}